/* AddCourses.css */

.add-courses-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.add-courses-form {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  margin: 20px auto; /* Set margin: auto to horizontally center the div */
}

.addcourses-menu-item:active {
  transform: scale(0.85);
}

.add-courses-form h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 15px 0 10px;
  color: #333;
  font-size: 16px;
}

input {
  width: calc(100% - 30px);
  padding: 15px;
  margin-bottom: 15px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  color: #333;
}

button {
  background-color: #14569d;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: calc(100% - 30px);
  font-size: 18px;
}

button:hover {
  background-color: #0c3764;
}

.module-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.remove-module-button {
  background-color: #f12727;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 14px;
  margin-bottom: 7px;
  max-width: 100px;
}

.remove-module-button:hover {
  background-color: #c20013;
}

@media screen and (max-width: 768px) {
  .add-courses-form {
    padding: 20px;
    /* Adjusted padding for smaller screens */
  }

  input {
    width: 100%;
    /* Make the input fields full width */
  }

  button {
    width: 100%;
    /* Make the buttons full width */
  }
}

/* Media query for screens smaller than 480px */
@media screen and (max-width: 480px) {
  .add-courses-form {
    margin: 10px;
    /* Further reduced margin for smaller screens */
  }

  label {
    font-size: 14px;
    /* Adjusted font size for labels on smaller screens */
  }

  input,
  button,
  .remove-module-button {
    font-size: 14px;
    /* Adjusted font size for inputs, buttons, and remove-module button */
  }

  .module-input-container {
    flex-direction: column;
    /* Stack modules vertically on smaller screens */
  }
}